In [114]:
import pandas as pd

## Overall Stats

In [115]:
stats1 = pd.read_csv("2008_2021_updated_ball.csv")

In [116]:
stats1.head(15)

,id,inning,over,ball,batsman,non_striker,bowler,batsman_runs,extra_runs,total_runs,non_boundary,is_wicket,dismissal_kind,player_dismissed,fielder,extras_type,batting_team,bowling_team
0,392217,2,0,1,M Vijay,ML Hayden,YK Pathan,1,0,1,0,NaN,NaN,NaN,NaN,NaN,Chennai Super Kings,Rajasthan Royals
1,392217,2,0,2,ML Hayden,M Vijay,YK Pathan,1,0,1,0,NaN,NaN,NaN,NaN,NaN,Chennai Super Kings,Rajasthan Royals
2,392217,2,0,3,M Vijay,ML Hayden,YK Pathan,1,0,1,0,NaN,NaN,NaN,NaN,NaN,Chennai Super Kings,Rajasthan Royals
3,392217,2,0,4,ML Hayden,M Vijay,YK Pathan,4,0,4,0,NaN,NaN,NaN,NaN,NaN,Chennai Super Kings,Rajasthan Royals
4,392217,2,0,5,ML Hayden,M Vijay,YK Pathan,0,0,0,0,NaN,NaN,NaN,NaN,NaN,Chennai Super Kings,Rajasthan Royals
5,392217,2,0,6,ML Hayden,M Vijay,YK Pathan,2,0,2,0,NaN,NaN,NaN,NaN,NaN,Chennai Super Kings,Rajasthan Royals
6,392217,2,1,1,M Vijay,ML Hayden,A Singh,0,0,0,0,NaN,NaN,NaN,NaN,NaN,Chennai Super Kings,Rajasthan Royals
7,392217,2,1,2,M Vijay,ML Hayden,A Singh,0,0,0,0,NaN,NaN,NaN,NaN,NaN,Chennai Super Kings,Rajasthan Royals
8,392217,2,1,3,M Vijay,ML Hayden,A Singh,0,0,0,0,NaN,NaN,NaN,NaN,NaN,Chennai Super Kings,Rajasthan Royals
9,392217,2,1,4,M Vijay,ML Hayden,A Singh,0,0,0,0,NaN,NaN,NaN,NaN,NaN,Chennai Super Kings,Rajasthan Royals
10,392217,2,1,5,M Vijay,ML Hayden,A Singh,0,0,0,0,NaN,NaN,NaN,NaN,NaN,Chennai Super Kings,Rajasthan Royals
11,392217,2,1,6,M Vijay,ML Hayden,A Singh,1,0,1,0,NaN,NaN,NaN,NaN,NaN,Chennai Super Kings,Rajasthan Royals
12,392217,2,2,1,M Vijay,ML Hayden,SK Trivedi,0,1,1,0,NaN,NaN,NaN,NaN,wides,Chennai Super Kings,Rajasthan Royals
13,392217,2,2,2,M Vijay,ML Hayden,SK Trivedi,0,0,0,0,NaN,NaN,NaN,NaN,NaN,Chennai Super Kings,Rajasthan Royals
14,392217,2,2,3,M Vijay,ML Hayden,SK Trivedi,6,0,6,0,NaN,NaN,NaN,NaN,NaN,Chennai Super Kings,Rajasthan Royals

In [117]:
stats2 = pd.read_csv("2008_2021_data_matches.csv")

In [118]:
stats2.head(15)

,id,season,city,date,player_of_match,venue,team1,team2,toss_winner,toss_decision,winner,result,result_margin,eliminator,method,umpire1,umpire2
0,392217,2009,Kimberley,2009-05-09,S Badrinath,De Beers Diamond Oval,Chennai Super Kings,Rajasthan Royals,Rajasthan Royals,bat,Chennai Super Kings,wickets,7.0,N,NaN,GAV Baxter,HDPK Dharmasena
1,1254112,2021,Sharjah,2021-10-02,AR Patel,Sharjah Cricket Stadium,Mumbai Indians,Delhi Capitals,Delhi Capitals,field,Delhi Capitals,wickets,4.0,N,NaN,AK Chaudhary,MA Gough
2,829817,2015,Mumbai,2015-05-19,KA Pollard,Wankhede Stadium,Chennai Super Kings,Mumbai Indians,Mumbai Indians,bat,Mumbai Indians,runs,25.0,N,NaN,HDPK Dharmasena,RK Illingworth
3,336022,2007/08,Delhi,2008-05-17,DPMD Jayawardene,Feroz Shah Kotla,Delhi Daredevils,Kings XI Punjab,Delhi Daredevils,bat,Kings XI Punjab,runs,6.0,N,NaN,AV Jayaprakash,RE Koertzen
4,501258,2011,Indore,2011-05-15,BJ Hodge,Holkar Cricket Stadium,Kochi Tuskers Kerala,Rajasthan Royals,Kochi Tuskers Kerala,field,Kochi Tuskers Kerala,wickets,8.0,N,NaN,PR Reiffel,RJ Tucker
5,548372,2012,Delhi,2012-05-17,CH Gayle,Feroz Shah Kotla,Delhi Daredevils,Royal Challengers Bangalore,Delhi Daredevils,field,Royal Challengers Bangalore,runs,21.0,N,NaN,HDPK Dharmasena,C Shamshuddin
6,1175358,2019,Mumbai,2019-03-24,RR Pant,Wankhede Stadium,Delhi Capitals,Mumbai Indians,Mumbai Indians,field,Delhi Capitals,runs,37.0,N,NaN,S Ravi,YC Barde
7,980919,2016,Chandigarh,2016-04-17,M Vohra,"Punjab Cricket Association IS Bindra Stadium, ...",Kings XI Punjab,Rising Pune Supergiants,Rising Pune Supergiants,bat,Kings XI Punjab,wickets,6.0,N,NaN,S Ravi,C Shamshuddin
8,1304069,2022,Pune,2022-04-13,MA Agarwal,"Maharashtra Cricket Association Stadium, Pune",Punjab Kings,Mumbai Indians,Mumbai Indians,field,Punjab Kings,runs,12.0,N,NaN,BNJ Oxenford,UV Gandhe
9,335989,2007/08,Chennai,2008-04-23,ML Hayden,"MA Chidambaram Stadium, Chepauk",Chennai Super Kings,Mumbai Indians,Mumbai Indians,field,Chennai Super Kings,runs,6.0,N,NaN,DJ Harper,GA Pratapkumar
10,729297,2014,NaN,2014-04-23,RA Jadeja,Dubai International Cricket Stadium,Rajasthan Royals,Chennai Super Kings,Rajasthan Royals,field,Chennai Super Kings,runs,7.0,N,NaN,HDPK Dharmasena,RK Illingworth
11,392186,2009,Durban,2009-04-21,CH Gayle,Kingsmead,Kings XI Punjab,Kolkata Knight Riders,Kolkata Knight Riders,field,Kolkata Knight Riders,runs,11.0,N,NaN,DJ Harper,SD Ranade
12,548325,2012,Mumbai,2012-04-16,S Nadeem,Wankhede Stadium,Mumbai Indians,Delhi Daredevils,Delhi Daredevils,field,Delhi Daredevils,wickets,7.0,N,NaN,BF Bowden,SK Tarapore
13,729281,2014,NaN,2014-04-17,YS Chahal,Sharjah Cricket Stadium,Delhi Daredevils,Royal Challengers Bangalore,Royal Challengers Bangalore,field,Royal Challengers Bangalore,wickets,8.0,N,NaN,Aleem Dar,S Ravi
14,392190,2009,Cape Town,2009-04-23,YK Pathan,Newlands,Kolkata Knight Riders,Rajasthan Royals,Kolkata Knight Riders,field,Rajasthan Royals,tie,NaN,Y,NaN,MR Benson,M Erasmus

In [119]:
overall_stats = pd.merge(stats1, stats2, on = 'id')

In [120]:
overall_stats = overall_stats[['batsman' , 'batsman_runs', 'inning', 'season', 'date']]

In [121]:
overall_stats

             batsman  batsman_runs  inning season        date
0            M Vijay             1       2   2009  2009-05-09
1          ML Hayden             1       2   2009  2009-05-09
2            M Vijay             1       2   2009  2009-05-09
3          ML Hayden             4       2   2009  2009-05-09
4          ML Hayden             0       2   2009  2009-05-09
...              ...           ...     ...    ...         ...
214944     V Shankar             6       1   2018  2018-05-05
214945     V Shankar             1       1   2018  2018-05-05
214946  DT Christian             1       1   2018  2018-05-05
214947     V Shankar             4       1   2018  2018-05-05
214948     V Shankar             3       1   2018  2018-05-05

[214949 rows x 5 columns]

In [123]:
overall_stats.dtypes

batsman         object
batsman_runs     int64
inning           int64
season          object
date            object
dtype: object

In [127]:
overall_stats['date'] = pd.to_datetime(overall_stats['date'])

In [128]:
filtered_overall_stats = overall_stats.query(" date < '2022-01-01'")

In [129]:
filtered_overall_stats.sort_values(by = 'date', ascending = True)

            batsman  batsman_runs  inning   season       date
104898   RT Ponting             0       1  2007/08 2008-04-18
104873   RT Ponting             1       1  2007/08 2008-04-18
104874  BB McCullum             1       1  2007/08 2008-04-18
104875  BB McCullum             0       1  2007/08 2008-04-18
104876  BB McCullum             1       1  2007/08 2008-04-18
...             ...           ...     ...      ...        ...
134810   EJG Morgan             1       2     2021 2021-10-15
134811  RA Tripathi             0       2     2021 2021-10-15
134812  RA Tripathi             2       2     2021 2021-10-15
134814  LH Ferguson             0       2     2021 2021-10-15
134788   EJG Morgan             1       2     2021 2021-10-15

[207881 rows x 5 columns]

In [130]:
overall_stats_final = filtered_overall_stats.groupby("batsman", as_index = False).agg({'batsman_runs' : sum, 
                                                                       'inning' : sum})

In [131]:
overall_stats_final = overall_stats_final.sort_values('batsman_runs', ascending = False)

In [132]:
overall_stats_final.head(10)

            batsman  batsman_runs  inning
527         V Kohli          6283    7235
426        S Dhawan          5784    6734
396       RG Sharma          5611    6309
457        SK Raina          5528    5926
120       DA Warner          5449    5885
24   AB de Villiers          5162    4961
100        CH Gayle          4965    5045
316        MS Dhoni          4746    5172
417      RV Uthappa          4722    5872
160       G Gambhir          4217    5640